<div id="main-wrap">

	<div id="home-wrap">

		<h1> Your Ticket to the Best Adventures </h1>

		<div id="media-wrap">


		</div>

		<div id ="cta-wrap">

			<a href="#scroll-here">Find My Next Adventure</a>


		</div>

		<div id="scroll-me">

			


		</div>

		<div id="About-Your-Getaway">

			<h2> Tell Us About Your Getaway </h2>



		</div>

		<div id="target-scroll">
			
				hi
		</div>

		<a name="scroll-here">








	</div>


</div>