
div#nav-wrapper ul.subnav{
	height: 61px;
	background-color: black;
	padding:0px;
	margin:0px;
}

div#nav-wrapper{
	
	top:0px;
	left:0px;
	position:absolute;
	background-color: black;
	width:100%;
	z-index:30;
}

#main-nav{
	text-align:middle;
	
}

#main-nav li{
	
	position:absolute;
	display:block;
	top:18px;
	left:50%;
	height:24px;
	width:140px;
	overflow:hidden;
	vertical-align:middle;
	text-align:center;
}

#main-nav li#home{
	margin-left: -489px;
	background-color:green;
}

#main-nav li#how-it-works{
	margin-left: -277px;
	background-color:green;
}

#main-nav li#about{
	margin-left: 137px;
	background-color:green;

}

#main-nav li#contact{
	margin-left: 349px;
	background-color:green;
}

#main-nav li a{
	left:50%;
	color:white;
	text-decoration:none;
	width:100%;
	display:block;
	vertical-align:center;
}


#main-wrap{
	width:100%;
	position:absolute;
	top:61px;

}

#home-wrap{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#home-wrap h1{
	text-align:center;
	color:white;
	font-size:60px;
}

#home-wrap h2{
	text-align:center;
	color:white;
	font-size:50px;
}

#media-wrap{
	height: 300px;

}

#cta-wrap{
  
  text-align:center;
  bottom:30px;
  padding:18px;
}

#cta-wrap a{
  padding: 18px 18px 18px 18px;
  font-size: 19px;
  font-weight: bold;
  color:white;
  border-radius:2.4px;
  font-family: 'Museo Sans',Arial,Helvetica,sans-serif;
  background-color:#E01918;
  text-decoration:none;
  }

  #cta-wrap a:hover{
  
  background-color:#c01918;
  }

  #scroll-me{
  height:900px;
  }

  #target-scroll{
  	height:600px;
  }

